/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}
nav {
  height: 8vh;
  width: 100%;
  background-color: #000;
}
main {
  height: 100%;
  overflow: hidden;
  width: 100%;

}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2px 10px;
  gap: 10px;
  position: relative;
}
.rect{
  border-radius: 5px;
  height: calc(100vh - 19vh);
}
.smaller-rect {
  background-color: red;
  width: 28%;
}
.larger-rect {
  background-color: rgb(6, 147, 255);
  /* height: calc(100vh - 9vh); */
  width: 72%;
}
.signup-banner{
  width: 100%;
  height: 10.3vh;
  background-color: green;
}
